* {
    font-family: sans-serif;
  }
  #main {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  #imgdv {
    margin-top: 100px;
    /* border: 1px solid; */
    width: 100%;
    padding: 10px;
  }
  img {
    width: 100%;
  }
  #disdv {
    padding: 10px;
    line-height: 40px;
    margin-left: 10%;
    margin-top: 50px;
    /* border: 1px solid; */
  }
  #rating {
    background-color: green;
    color: whitesmoke;
    width: 50px;
    text-align: center;
    border-radius: 5px;
  }
  #btndv {
    padding: 10px;
    margin-left: 15%;
    margin-top: 20px;
    display: flex;
  }
  #AdBTn {
    background-color: #ffca28;
    border: 0;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
  }
  #AdBTn:hover {
    background-color: brown;
  }
  #ByBTn {
    background-color: #ff7043;
    border: 0;
    width: 200px;
    height: 50px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 5px;
  }
  #spc {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    gap: 30px;
    /* border: .5px solid; */
  }
  #rght1 {
    line-height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 30px;
  }
  #lft1 {
    line-height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 30px;
    margin-left: 10%;
  }
  #OS {
    line-height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 30px;
    margin-left: 10%;
  }
  span {
    float: right;
  }
  #logo {
    width: 77px;
    height: 23px;
  }