body {
  background-color: whitesmoke;
}
#payment-main-container {
  /* display: flex; */
  height: auto;
  /* border: 2px solid grey; */
}
/* #box {
  display: flex;
} */

#left-container {
 padding: 10px;
  background-color: white;
}

#btnone {

  padding: 16px 24px;
  background-color: white;
  color: rgb(110, 105, 105);
  font-weight: bold;
}
#btntwo {
  
  padding: 0px 32px;
  padding: 16px 24px;
  color: blue;
  background-color: white;
  margin-left: 500px;
  font-weight: bold;
}
#delevery-address-container {
  height: 50px;
  background-color: #2874f0;
  /* width: 100%; */
}
#delivery-heading {
  padding: 20px;
  color: white;
}
.add-new-add {
  color: #2874f0;
}
#use-my-current-location {
  width: 30%;
  height: 50px;
  background-color: #2874f0;
  color: white;
  border-style: none;
  border-radius: 5px;
}
#save-and-delivery-here {
  width: 40%;
  height: 40px;
  background-color: orangered;
  border-style: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 30px;
}
.input-style {
  width: 30%;
  height: 40px;
}
#credit-debit {
  width: 40%;
  height: 40px;
  background-color: white;
  border-style: none;
  border-radius: 5px;
  color: blue;
  margin-bottom: 30px;
}
.cvd {
  width: 20%;
  height: 40px;
  background-color: white;
  border-style: none;
  border-radius: 5px;
  color: black;
  margin-bottom: 30px;
}
#pay {
  width: 20%;
  height: 40px;
  background-color: orangered;
  border-style: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 30px;
}
#right-container{
  border: 1px solid silver;
  float: right;
  height: 200px;
  width: 35%;
  margin-right: 30px;
  margin-top: 400px;
}
#spn1{
  float: right;
}
#right-container h3{
  padding: 30px;
  margin-top: 50px;
}
